[submodule "site-lisp/awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "site-lisp/awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "site-lisp/fuz"]
	path = site-lisp/fuz
	url = https://github.com/cireu/fuz.el.git
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "site-lisp/nox"]
	path = site-lisp/nox
	url = https://github.com/manateelazycat/nox.git
[submodule "site-lisp/lazy-load"]
	path = site-lisp/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework.git
[submodule "site-lisp/all-the-icons-ibuffer"]
	path = site-lisp/all-the-icons-ibuffer
	url = https://github.com/seagle0128/all-the-icons-ibuffer.git
[submodule "site-lisp/all-the-icons-ivy-rich"]
	path = site-lisp/all-the-icons-ivy-rich
	url = https://github.com/seagle0128/all-the-icons-ivy-rich.git
