pyim/rime/user.yaml
W3M/
/auto-save-list
elpa/

eaf/
elpa-26.2/
rust-playground/

session.*
.session
.emacs.desktop
/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
history
/places
/site-lisp/eim/py.txt
frame-restore-parameters
ac-comphist.dat
.smex-items
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
ede-projects.el
tldr/
frame-restore-parameters

.historian
.uptimes.el
ditaa0_9.jar
meghanada/
plantuml.jar
projectile-bookmarks.eld
recentf
transient/
anaconda-mode/
forge-database.sqlite

pyim/dcache/
pyim/rime/build/
pyim/rime/luna_pinyin.userdb/
pyim/rime/luna_pinyin.userdb.old/
eww-bookmarks
pyim/rime/user.yaml
